<%= form_for @roast do |f| %>
    <div class="field">
	    <%= f.label 'Title of the Roast' %><br />
	    <%= f.text_field :title %>
	  </div>
	  
	  <div class="field">
	    <%= f.label :roastee %><br />
	    <%= f.text_field :roastee %>
	  </div>
	  
	  <div class="field">
	    <%= f.label :showDateTime %><br />
	    <%= f.datetime_select :showDateTime %>
	  </div>
	 	  
	  <div class="actions">
	    <%= f.submit %>
	  </div>
<% end %>
