<% content_for :scripts do -%>
	<%= javascript_include_tag "http://static.opentok.com/v0.91/js/TB.min.js" %>
<% end -%>

<h2>Roast of <%= @roast.roastee %></h2>

<div class="row">
	<div class="panel five columns">
		<div class="roaster">
			<h4 class="roaster-title">Roast from <span class="roaster_name"><span></h4>
			<div class="roaster-content">
			</div>
		</div>
	</div>
	<div class="panel five columns">
		<div class="roastee">
			<div id="roastee-video">
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel five columns">
		<div class="queue">
			<table>
				<thead>
					<tr>
						<th>Roaster</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody>
					<% @roast.stories.each do |s| %>
						<tr class="story-record" data-story="<%= s.archive_id %>">
						<td><%= s.user.name %></td>
						<td><%= s.title %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id='inviteForm' method="post" >
  <h3> Invite a friend </h3>
  <%= form_tag(:controller => "roasts", :action => "send_text_message") %>
    <p>Enter a number of your buddy to invite </p>
    <input type="text" name="phone" id='phone' /> 
    <input type="hidden" name='resource' value='<%= @roast.id %>' />
    <input type="hidden" name='name' value='<%= @roast.roastee %>' />
    <input type="submit" value="Submit" />
  </form> 
</div>

<div id="story">
  <%= link_to "Create a Story", new_roast_story_path(@roast) %>
</div>

<div id="roast-setup" class="reveal-modal">
  <h2>Let's Get it Started</h2>
	<p>Are you here to be Roasted?</p>
	<ul class="button-group even two-up">
		<li><a class="button roast-setup-yes close-reveal-modal">YEAH, bring it on!</a></li>
		<li><a class="button roast-setup-no">I just want to watch</a></li>
	</ul>
	
  <a class="close-reveal-modal">&#215;</a>
</div>
