<ul class="nav-bar top">
	<% if user_signed_in? %>
		<li class="right">
			<%= link_to 'Create New Roast', new_roast_path %>        
		</li>

		<li class="right">
		<%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
		</li>
	<% else %>
		<li class="right">
		<%= link_to 'Login', new_user_session_path %>  
		</li>
	<% end %>
	<% if user_signed_in? %>
		<li class="right">
		<%= link_to 'Edit account', edit_user_registration_path %>
		</li>
		<% if current_user.has_role? :admin %>
			<li class="right">
			<%= link_to 'Admin', users_path %>
			</li>
		<% end %>
	<% else %>
		<li class="right">
		<%= link_to 'Sign up', new_user_registration_path %>
		</li>
	<% end %>
</ul>
